/*
$clr-primary: #3e60be;
$clr-secondary: #3e60be;
$clr-accent: #3e60be;
$clr-neutral-light: #3e60be;
$clr-neutral-dark: #3e60be;

$simple-gradient: Sclr-primary, $clr-secondary;
$complex-gradient: Sclr-primary, $clr-secondary, $clr-accent;

$scheme-default: $clr-neutral-light, $clr-primary;
$scheme-secondary: $clr-neutral-dark, $clr-secondary;
$scheme-accent-gradient: $clr-neutral-dark, $complex-gradient;
*/


$bg-color: blue;

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: 50vh;
  background-color: $bg-color;
}
